{% extends "base.html" %}

{% block main_content %}
<div style="text-align: center"><h3>站点详细信息</h3></div>
<hr>
<div class="bootstrap-table" align="center">
    <div class="fixed-table-container" style="width: 50%">
        <div class="fixed-table-body" >
            <table class="table table-hover">
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;" >站点名称</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.name }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">域名</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.url }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">物理路径</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.path }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">应用类型</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.type }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">部署环境</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.deploy_env }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">GitPath</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.git_url }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">开发分支</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ website.dev_branch }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">部署服务器IP</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ web_server_ip }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">系统类型</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ web_server_os }}</td>
                </tr>
                <tr>
                    <td>
                        <div style="height: 25px;text-align: center; vertical-align: middle;">Jenkins任务名称</div>
                        <div class="fht-cell"></div>
                    </td>
                    <td style="text-align: center; vertical-align: middle; ">{{ jk_name }}</td>
                </tr>
            </table>

        </div>

    </div>

</div>
<div align="center" style="padding-top: 20px">
    <a href="{% url "website_manage" %}"><button class="button button-royal button-pill button-small">返回</button></a>
</div>
{% endblock %}